@model ManutationItemsApp.Models.Manutations.ManutationAdministrationViewModel

@await Component.InvokeAsync("ManutationsSection", new { userRules = Model.UserRules })

<div id="manutations">
    @{ await Html.RenderPartialAsync("GetAllPending", Model.Manutations);}
</div>