@model ManutationItemsApp.Domain.Entities.NewManutation

@{
    ViewData["Title"] = "Details";
}
<div id="details">
    @{ await Html.RenderPartialAsync("RequestReadOnly", Model);}
    @{await Html.RenderPartialAsync("CheckInReadOnly", Model); }
    @{await Html.RenderPartialAsync("AttivitaReadOnly", Model, ViewData); }
    @{await Html.RenderPartialAsync("CheckOutReadOnly", Model, ViewData); }
</div>



