@model ManutationItemsApp.Domain.Entities.Manutation

@{
    ViewData["Title"] = "Details";
}
@await Component.InvokeAsync("ActionOnManutation", new {manutation = Model})
<div id="details">
    @{ await Html.RenderPartialAsync("Request", Model);}
    @{await Html.RenderPartialAsync("CheckIn", Model); }
    @{await Html.RenderPartialAsync("Attivita", Model, ViewData); }
    @{await Html.RenderPartialAsync("CheckOut", Model, ViewData); }
</div>



