@model ManutationItemsApp.Models.Manutations.ManutationViewModel

@{
    ViewData["Title"] = "Index";
}


@await Component.InvokeAsync("ManutationsSection", new { userRules = Model.UserRules })

<div id="manutations">
    @{ await Html.RenderPartialAsync("NewView", Model);}
</div>