@model IEnumerable<ManutationItemsApp.Domain.Entities.Manutation>

@{
    ViewData["Title"] = "Index";
}


    <div class="btn-group " role="group" aria-label="Basic example">
        <div id="spinner" class="spinner-border text-primary" role="status" style="display:none;">
            <span class="sr-only">Loading...</span>
        </div>
        @*<a id="getAllAssigned" asp-action="GetAllAssigned" asp-controller="ManutationStages"><i class="fas fa-exclamation-triangle fa-lg mr-4" data-toggle="tooltip" data-placement="bottom" title="In attesa di assegnazione"></i></a>*@
        @*<a id="getMyActive" asp-action="NewView" asp-controller="ManutationStages" asp-route-stageName="AllManutations"><i class="fas fa-archive fa-lg mr-4" data-toggle="tooltip" data-placement="bottom" title="Tutti attivi"></i></a>*@
        @*<a id="getMyHistorical" asp-action="AllMasterManutations" asp-controller="ManutationStages" asp-route-stageName="AllManutations"><i class="fa fa-trash fa-lg" data-toggle="tooltip" data-placement="bottom" title="Tutte le manipolazioni"></i></a>*@
        <a><i class="fas fa-archive fa-lg mr-4" data-toggle="tooltip" data-placement="bottom" title="Tutti attivi"></i></a>
        <a><i class="fa fa-trash fa-lg" data-toggle="tooltip" data-placement="bottom" title="Tutte le manipolazioni"></i></a>
    </div>

<div id="manutations">
    @{ await Html.RenderPartialAsync("NewView", Model);}
</div>