@model ManutationItemsApp.Models.Manutations.ManutationViewModel

@{
    ViewData["Title"] = "Index";
}


@await Component.InvokeAsync("ManutationsSection", new { userRules = Model.UserRules })


@using ManutationItemsApp.HtmlHelpers.Manutations;
@{
    List<ManutationItemsApp.Domain.Entities.ApplicationUser> allUsers = ViewBag.allUsers;
}

<div id="manutations">
    @{ await Html.RenderPartialAsync("NewView", Model);}
</div>

