@using Microsoft.AspNetCore.Identity
@model ManutationItemsApp.Service.Dto.Manutatons.CreateManutationDto
@inject UserManager<ManutationItemsApp.Domain.Entities.ApplicationUser> UserManager
@inject SignInManager<ManutationItemsApp.Domain.Entities.ApplicationUser> SignInManager

    <h4>Richiesta di manutenzione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Manutations">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="DateOfCreation" class="control-label"></label>
            <div class='input-group date datetimepicker'>
                <input asp-for="DateOfCreation" type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span asp-validation-for="DateOfCreation" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="DateOfCreation" class="control-label">Data di creazione</label>
                <input asp-for="DateOfCreation" class="form-control" />
                <span asp-validation-for="DateOfCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetName" class="control-label">Asset</label>  <i class="fa fa-qrcode fa-2x"></i>
                <select asp-for="AssetName" class="form-control" asp-items="@ViewBag.assetNames">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for=" AssetName" class="text-danger">
                </span>
            </div>
            <div class="form-check">
                <input asp-for="IsFailure" class="form-check-input group1" type="checkbox">
                <label asp-for="IsFailure" class="form-check-label">
                    Guasto (fermo) o
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input group1" type="checkbox">
                <label class="form-check-label">
                    Malfunzionamento
                </label>
            </div>
            <div class="form-check">
                <input asp-for="IsCartolinaRossa" class="form-check-input group1" type="checkbox">
                <label asp-for="IsCartolinaRossa" class="form-check-label">
                    Cartolina Rossa
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Descrivi il</label>  <i class="fa fa-file-alt fa-2x"></i>
                <i class="fas fa-camera fa-2x"></i>
                <i class="fa fa-file-audio fa-2x"></i>
                <input asp-for="BaseDescription" class="form-control" />
                <span asp-validation-for="BaseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ErrorCodeName" class="control-label">Codice di errore</label>
                <select asp-for="ErrorCodeName" class="form-control" asp-items="@ViewBag.errorCodesNames">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for=" ErrorCodeName" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="FaultTypeName" class="control-label">Tipologia di Guasto / Malfunzionamento</label>
                <select asp-for="FaultTypeName" class="form-control" asp-items="@ViewBag.FaultTypeName">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for=" FaultTypeName" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

    <div>
        <a asp-action="Index" asp-controller="Home" type="button" class="btn btn-primary">Pagina iniziale</a>
    </div>


