@model ManutationItemsApp.Domain.Entities.Manutation

<div>
    <h4>Manutation</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <button type="button" class="btn btn-primary manutationsBtn">Back to List</button>
</div>
