@model IEnumerable<ManutationItemsApp.Domain.Entities.Manutation>

    <button type="button" class="btn-primary addManutationBtn">Crea nuovo +</button>
<table class="table">
    <thead>
        <tr>
            <th>
                Descrizione originale
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BaseDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Manutations" data-ajax="true" data-ajax-method="GET" data-ajax-success="GetManutationEditForm"><i class="fa fa-marker fa-lg"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Manutations" data-ajax="true" data-ajax-method="GET" data-ajax-success="ManutationCreateOnComplete"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="Index">Tornare a casa</a>
</div>