@model ManutationItemsApp.Domain.Entities.Manutation
@{
    ViewData["Title"] = "Default";
}

<div class="d-flex justify-content-end sticky-top" style="top: 20px">
    @if (@Model.IsPaused)
    {
        <a type="button" asp-action="StartOrContinue" asp-route-manutationId="@Model.Id" asp-route-stageName="Check In" data-ajax="true" data-ajax-mode="replace" data-ajax-method="GET" data-ajax-update="#details" data-ajax-success="renewDisabled"><i class="far fa-play-circle fa-3x" style="color: #7CFC00"></i></a>
    }
    else
    {
        <a data-toggle="modal" data-target="#pauseReasonModal"> <i class="far fa-pause-circle fa-3x" style="color: blue"></i></a>

    }
    <a asp-action="EditManutation" asp-route-id="@Model.Id" asp-controller="ManutationStages"><i class="fa fa-marker fa-3x"></i></a>
</div>

