@model ManutationItemsApp.ViewComponents.ButtonViewComponentModel


@switch (Model.ButtonUI.RuleName)
{
    case "CanDoActivity":
        @if (Model.UserRules.CanDoActivity)
        {
            <div class="row mt-4 ">
                <div class="float-left">
                    <a type="button" class="btn btn-warning" asp-action="Index" asp-controller="ManutationStages">@Model.ButtonUI.Text</a>
                </div>
            </div>

        }
        break;
    default:
        break;
}